.customHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  position: sticky;
  top: 0;
  z-index: 1000;
  margin-bottom: 20px;
}

.leftSection {
  display: flex;
  align-items: center;
  gap: 80px;
}

.rightSection {
  display: flex;
  align-items: center;
}
.logo {
  cursor: pointer;
  margin-left: 20px;
}
